:host {
  padding: 1.2rem 1ch;
  width: clamp(320px, 50%, 1000px);
}

:host input, textarea {
  border: solid 2px rgb(195, 195, 195);
  border-radius: 0.3rem;
  padding: 3px 0 1ch 3px;
  width: 100%;
}

:host textarea {
  height: 4rem;
  resize: none;
}

.input-container {
  padding: 0.6rem 0;
}

.input-container label {
  display: block;
  min-height: 21px;
}

.form-btns {
  margin: 0.8rem 0;
  display: flex;
  column-gap: 1.5rem;
}

.get-btn-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  color: rgb(250, 250, 250);
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background 500ms;
  padding: 0.35rem;
  height: 3rem;
}

.primary-btn {
  background: rgb(42, 100, 224);
  font-size: 0.75rem;
  padding: 1.5ch;
  width: 6rem;
}

.primary-btn:hover {
  background: rgb(16, 60, 153);
}

.secondary-btn {
  background: rgb(90, 90, 90);
  font-size: 0.75rem;
  width: 6rem;
}

.secondary-btn:hover {
  background: rgb(71, 71, 71);
}

.get-btn {
  background: rgb(42, 106, 224);
  font-size: 0.8rem;
  width: 60%;
  padding: 1.5ch;
}

.get-btn:hover {
  background: rgb(25, 35, 122);
}

.required-field {
  color: rgb(212, 25, 25);
  font-size: 1.1rem;
}

@media only screen and (min-width: 700px) {
  :host form{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 42% 42%;
    column-gap: 0.4rem;
    justify-content: space-around;
  }

  .form-btns {
    grid-column: 1 / 3;
  }

  .get-btn-cont {
    grid-column: 1 / 3;
    align-items: start;
  }
}