<form id="form-container" [formGroup]="newsForm" (ngSubmit)="handleSubmit()">
  <div class="input-container">
    <label for="title">
      Título<span class="required-field">*</span>
    </label>
    <input 
      id="title"
      maxlength="100"
      formControlName="title"
    >
  </div>

  <div class="input-container">
    <label for="subtitle">Subtítulo</label>
    <input
      id="subtitle"
      maxlength="250"
      formControlName="subtitle"
    >
  </div>

  <div class="input-container">
    <label for="content">
      Contenido<span class="required-field">*</span>
    </label>
    <textarea
      id="content"
      maxlength="3000"
      formControlName="content"
    >
    </textarea>
  </div>

  <div class="input-container">
    <label for="author">
      Autor<span class="required-field">*</span>
    </label>
    <input
      id="author"
      maxlength="50"
      formControlName="author"
    >
  </div>

  <div class="form-btns">
    <button id="form-submit" type="submit" class="btn primary-btn">Crear</button>
    <button type="reset" class="btn secondary-btn">Limpiar</button>
  </div>
  <div class="get-btn-cont">
    <button type="button" class="btn get-btn">GET noticias</button>
  </div>
</form>
