:host {
  background: rgb(241, 241, 241);
  box-shadow: 0 4px 5px rgb(71, 71, 71);
  border: solid rgb(126, 126, 126) 1px;
  border-radius: 0.3rem;
  margin: 1.2rem 1ch;
  padding: 0.8rem 1ch;
  width: 80%;
  overflow: scroll;
}

:host code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7rem;
}

:host h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Monserrat' sans-serif;
}

:host code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7rem;
}

@media only screen and (min-width: 700px) {
  :host {
    width: 50%;
  }
}